<table class="table">
    <tr>
        <td></td>
        <td *ngFor="let permission of permissions">
            {{permission.permissionName}}
        </td>
    </tr>
    <tr *ngFor="let role of roles">
        <td>{{role.roleName}}</td>
        <td *ngFor="let permission of permissions">
            <input type="checkbox" name="" [checked]="formattedPermissionMap[role.roleId].indexOf(permission.permissionId)!=-1" (change)=permissionChangeEvent(permissionCheck,role.roleId,permission.permissionId) #permissionCheck>
        </td>
    </tr>
</table>