<!-- div.form-group>input.form-control[type="text"][placeholder] -->
<div class="form-group">
    <input type="text" class="form-control" placeholder="Add your topic" #topic (keyup.enter)="addTopic(topic)">
</div>
<hr>
<!-- ul.list-group>li.list-group-item -->
<ul class="list-group">
    <li class="list-group-item" *ngFor="let item of toDoList.controls;index as i;even as e" [ngClass]="{
      'list-group-item-info': e,
      'list-group-item-secondary':!e
    }">
        <button class="btn btn-danger" (click)="removeTopic(item)">Remove</button>
        <!-- {{i+1}}. {{item.value}} -->
        {{i+1}}. {{item.value.topicname}}
        <i (click)="updateTopic(item,'status')" [title]="!item.value.status?'Mark Done':'Marke incompleted'" class="fa fa-check status  float-right" [ngClass]="{
            'status-checked': item.value.status,
            'status-unchecked': !item.value.status
        }"></i>
    </li>
</ul>
<div class="alert alert-info" *ngIf="toDoList.controls.length==0">No list Available</div>
<!-- {{toDoList.value | json}} -->