<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center;width:90vw;margin:auto"> -->
<!-- <h1>
        Welcome to {{ title }}!
    </h1> -->
<!-- <app-course></app-course>
    form App component -->
<!-- <app-courses></app-courses> -->
<!-- <app-courses></app-courses> -->
<!-- <app-data-and-event></app-data-and-event> -->
<!-- <app-data-event2></app-data-event2> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-favourite></app-favourite> -->
<!-- <app-demo-reusable></app-demo-reusable> -->
<!-- <app-table-format></app-table-format> -->
<!-- </div> -->
<app-basic-layout>
    <ng-container class="header-element">
        <app-header></app-header>
    </ng-container>
    <ng-container class="footer-element">
        <app-footer></app-footer>
    </ng-container>
    <ng-container class="body-element">
        <!-- <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <div class="mt-2"> -->
        <!-- <app-demo-reusable></app-demo-reusable> -->
        <!-- <app-courses></app-courses> -->

        <!-- </div> -->
        <div class="container w-75 text-left">
            <!-- <app-directives></app-directives> -->
            <!-- <app-contact-us></app-contact-us> -->
            <!-- <app-sign-in></app-sign-in> -->
            <!-- <app-to-do-list></app-to-do-list> -->
            <app-posts></app-posts>
        </div>
    </ng-container>

</app-basic-layout>
<router-outlet></router-outlet>