<h3>Posts List</h3>
<div class="pt-2">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter New Title" [(ngModel)]="newPost" name="newtitle" (keyup.enter)="addPost()">
    </div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let post of posts ;index as i">
            <button class="btn btn-danger" (click)="deletePost(post)">Delete</button>
            <button class="btn btn-primary ml-2 " (click)="updatePost(post)">Update</button> {{i+1}}. {{post.title}}
        </li>
    </ul>
</div>